footer {
  padding: 20px 0 40px;
  font-weight: 600;
}

.footer-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 40px;
  background: #004F9F;
  color: #fff;
}

.btn-scroll-top {
  padding: 10px;
  width: 53px;
  height: 53px;
  min-width: 53px;
  margin-left: auto;
}

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 434px;
}
.list-social li {
  margin: 0 10px 0 0;
}
.list-social li:last-child {
  margin: 0;
}
.list-social li a {
  width: 59px;
  min-width: 59px;
  height: 59px;
  padding: 10px;
}
.list-social li svg {
  width: 24px;
  height: 24px;
}