.home {
  padding: 460px 0 120px;
  background: url("../img/home-bg.png") no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 1;
  color: #fff;
}
.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(53.25% 50.14% at 50% 47.09%, rgba(0, 0, 0, 0) 0%, rgba(0, 79, 159, 0.4) 100%);
  background-blend-mode: multiply;
  z-index: -1;
}
.home .btn-group {
  width: 100%;
  margin: 0 0 0 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.text-hightlights {
  font-size: 26px;
  font-weight: 700;
  line-height: 90%;
}
.text-hightlights p, .text-hightlights a {
  display: block;
  line-height: 120%;
  background: #004F9F;
  color: #fff;
  padding: 9px 12px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  margin: 0 0 -15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.text-hightlights p:last-child, .text-hightlights a:last-child {
  margin: 0;
}
.text-hightlights h2 span {
  display: block;
  line-height: 110%;
  padding: 9px 12px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  margin: 0 0 -15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.text-hightlights h2 span:last-child {
  margin: 0;
}

.text-hightlights2 p {
  color: #004F9F;
  background: #fff;
}
.text-hightlights2 h2 span, .text-hightlights2 .h2 span {
  color: #004F9F;
  background: #fff;
}

.about-section1 {
  margin: 40px 0 0;
  color: #fff;
}

.about-section-wrapper {
  background: url("../img/about-bg.png") no-repeat center;
  background-size: cover;
  padding: 40px;
  min-height: 920px;
}

.subtitle {
  padding: 12px;
  background: #004F9F;
  font-size: 18px;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.about-section__img {
  height: 920px;
}
.about-section__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-section__content {
  padding: 40px;
  background: #004F9F;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #fff;
}

.about-item {
  margin: 0 0 40px;
}
.about-item:last-child {
  margin: 0;
}
.about-item .text-hightlights {
  margin: 0 0 20px;
}

.about-image {
  position: relative;
  z-index: 1;
}
.about-image__logo {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #fff;
  padding: 10px;
}

.about-card {
  width: 100%;
  height: 100%;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #F4F5F7;
}
.about-card__icon {
  margin: 0 0 30px;
}
.about-card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.about-card__number {
  margin: 0 20px 0 0;
  background: #fff;
  padding: 0 5.5px;
  color: #004F9F;
}
.about-card .h2 {
  margin: 0;
}

.contacts-wrapper {
  width: 100%;
  height: 100%;
  background: url("../img/contact-bg.png") no-repeat center;
  background-size: cover;
  padding: 40px;
  position: relative;
  z-index: 1;
}
.contacts-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(53.25% 50.14% at 50% 47.09%, rgba(0, 0, 0, 0) 0%, rgba(0, 79, 159, 0.4) 100%);
  background-blend-mode: multiply;
  z-index: -1;
}

.faq-accordion .accordion-item {
  border: 0;
  border-radius: 0;
  background: #F4F5F7;
  margin-bottom: 20px;
}
.faq-accordion .accordion-header {
  margin: 0;
}
.faq-accordion .accordion-button {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 20px;
  width: 100%;
  max-width: none;
  position: relative;
  z-index: 1;
}
.faq-accordion .accordion-button::after {
  position: absolute;
  top: 20px;
  right: 20px;
  background: url("../img/faq-icon-toggle.svg") no-repeat center;
  width: 20px;
  height: 20px;
  background-size: contain;
}
.faq-accordion .accordion-button:not(.collapsed) {
  background: transparent;
  color: inherit;
}
.faq-accordion .accordion-body {
  padding: 0 40px 40px;
  font-family: "Inter";
  font-size: 20px;
  line-height: 140%;
  font-weight: 500;
  color: #5A6270;
}
.faq-accordion .accordion-body .box-text p, .faq-accordion .accordion-body .box-text ul li, .faq-accordion .accordion-body .box-text ol li {
  margin: 0 0 20px;
}
.faq-accordion .accordion-body .box-text p:last-child, .faq-accordion .accordion-body .box-text ul li:last-child, .faq-accordion .accordion-body .box-text ol li:last-child {
  margin: 0;
}

.faq-number {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  color: #004F9F;
}
.faq-number span {
  padding: 0 8.5px;
  margin: 0;
}

.faq-question {
  margin: 0;
  display: block;
  line-height: normal;
}
.faq-question span {
  display: inline-block;
  padding: 10px;
  background: #fff;
  color: #0053A6;
  margin: 0;
}