/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1740px) {
  .schedule {
    margin: 0 20px 0 auto;
  }
  .menu {
    gap: 16px;
  }
  .btn {
    padding: 10px 30px;
  }
  .btn-phone-call {
    padding: 10px;
  }
  .btn-scroll-top {
    padding: 10px;
  }
}
@media only screen and (max-width: 1570px) {
  .nav-menu {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 7;
    background: #004F9F;
    padding: 120px 24px 25px;
  }
  .nav-menu__footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav-menu .schedule {
    margin: 0 auto 0 0;
  }
  .nav-menu .btn-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav-menu .btn-group .btn {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .nav-menu .phone {
    margin: 0;
  }
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 32px;
    font-size: 18px;
  }
  header {
    z-index: 10;
  }
  header .logo, header .btn-phone-call, header .btn-burger {
    z-index: 8;
  }
  .btn-phone-call {
    margin: 0;
    width: 59px;
    height: 59px;
    min-width: 59px;
  }
  .btn-callback-header {
    display: none;
  }
  .btn-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
  }
}
@media only screen and (max-width: 1200px) {
  h1, .h1 {
    font-size: 90px;
  }
  h2, .h2 {
    font-size: 38px;
    margin: 0 0 20px;
  }
  .text-hightlights {
    font-size: 20px;
  }
  .news-ticker__track span {
    font-size: 18px;
  }
  .home .btn-group {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 40px 0 0;
  }
  .btn-md {
    height: 63px;
    font-size: 18px;
  }
  .riders {
    margin: 60px 0 24px;
  }
  .about-card__icon {
    margin: 0 0 20px;
    width: 120px;
    height: 120px;
  }
  .about-slider {
    padding: 0 0 82px;
  }
  .about-slider.row {
    margin: 0;
  }
  .about-slider.row > * {
    padding: 0;
  }
  .about-slider-arrow {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .about-slider-arrow.events-prev {
    right: 72px;
  }
  .about-image {
    margin: 20px 0 0;
  }
  .about-image__logo {
    bottom: 24px;
    left: 24px;
  }
  .consultation-wrapper .h4 {
    margin: 0 0 20px;
  }
  .forbidden {
    margin: 60px 0;
  }
  .forbidden h2, .forbidden .h2 {
    margin: 0 0 20px;
  }
  .event-card {
    padding: 24px;
  }
  .list-social {
    margin: 0 auto;
  }
  footer {
    padding: 10px 0 24px;
  }
  .footer-row {
    padding: 24px;
  }
}
@media only screen and (max-width: 992px) {
  .container {
    padding: 0 24px;
  }
  h1, .h1 {
    font-size: 70px;
    margin: 0 0 20px;
  }
  h3, .h3 {
    font-size: 24px;
    margin: 0 0 20px;
  }
  h4, .h4 {
    font-size: 20px;
  }
  .mb-50 {
    margin-bottom: 20px;
  }
  .mt-120 {
    margin-top: 60px;
  }
  .mb-120 {
    margin-bottom: 60px;
  }
  .about-section1 {
    margin: 24px 0 0;
  }
  .about-section-wrapper {
    padding: 24px;
    min-height: 600px;
  }
  .about-section__img {
    margin: 24px 0 0;
    height: auto;
  }
  .about-section__content {
    padding: 24px;
  }
  .text-hightlights {
    font-size: 18px;
  }
  .box-text {
    font-size: 16px;
  }
  .home {
    padding: 260px 0 54px;
  }
  .about-card {
    padding: 24px;
  }
  .riders-card__body {
    padding: 24px;
  }
  .list-information {
    font-size: 16px;
  }
  .list-information p {
    font-size: 18px;
    margin: 0;
    min-width: auto;
    width: 50%;
    padding: 0 10px 0 0;
  }
  .list-information span {
    width: 50%;
  }
  .forbidden-card {
    padding: 24px;
  }
  .forbidden-card__text {
    margin: 20px 0 0;
  }
  .faq-accordion .accordion-body {
    font-size: 16px;
  }
  .gallery-nav {
    margin: 20px 0 0;
  }
  .event-card__date {
    font-size: 16px;
  }
  .faq-number .h2 {
    font-size: 24px;
  }
  .map {
    margin: 10px 0 0;
  }
  .prices {
    padding: 24px 0 0;
  }
  .price-card {
    margin: 0 0 24px;
    padding: 24px;
  }
  .price-card h3 {
    margin: 0;
  }
  .price-card.active .price-card__head:after {
    -webkit-transform: none;
            transform: none;
  }
  .price-card__body {
    display: none;
    padding: 40px 0 0;
  }
  .price-card__head {
    position: relative;
    cursor: pointer;
    padding-right: 20px;
  }
  .price-card__head:after {
    content: "";
    position: absolute;
    right: 0;
    top: 15px;
    width: 20px;
    height: 20px;
    background: url("../img/faq-icon-toggle.svg") no-repeat center;
    background-size: 100%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .price-card .price {
    font-size: 18px;
  }
}
@media only screen and (max-width: 768px) {
  .list-information {
    margin: 40px 0 20px;
  }
  .riders-card {
    margin: 24px 0 0;
  }
  .text {
    font-size: 14px;
  }
  .riders-card__img-text {
    padding: 24px;
  }
  .list-schedule-line {
    margin: 0 0 10px;
  }
  .mb-40 {
    margin-bottom: 20px;
  }
  .mb-60 {
    margin-bottom: 40px;
  }
  header .logo {
    margin: 0 auto 0 0;
  }
  header .phone, header .schedule {
    display: none;
  }
  .nav-menu .phone, .nav-menu .schedule {
    display: block;
  }
  .consultation {
    margin: 24px 0 0;
  }
  .consultation-wrapper {
    padding: 80px 24px;
  }
  .text-hightlights h2, .text-hightlights .h2 {
    padding: 12px 10px;
    background: #fff;
  }
  .text-hightlights h2 span, .text-hightlights .h2 span {
    padding: 0;
    display: inline;
    margin: 0;
    background: transparent;
  }
  .certificate-wrapper {
    padding: 16px 24px 24px;
  }
  .certificate-wrapper .text-hightlights h2, .certificate-wrapper .text-hightlights .h2 {
    padding: 0;
    background: transparent;
    line-height: 130%;
  }
  .certificate-wrapper .text-hightlights h2 span, .certificate-wrapper .text-hightlights .h2 span {
    background: #fff;
    padding: 12px 10px;
  }
  .news h2 br {
    display: none;
  }
  .contacts .text-hightlights h2, .contacts .text-hightlights .h2 {
    padding: 0;
    background: transparent;
    line-height: 130%;
  }
  .contacts .text-hightlights h2 span, .contacts .text-hightlights .h2 span {
    background: #fff;
    padding: 12px 10px;
  }
}
@media only screen and (max-width: 576px) {
  .btn {
    height: 59px;
    padding: 10px 30px;
  }
  .btn-phone-call {
    padding: 10px;
  }
  .riders-wrapper {
    min-height: auto;
    background: url("../img/rider-img-mobile.png") no-repeat center;
    background-size: cover;
  }
  .logo {
    max-width: 80px;
  }
  .consultation-wrapper::before, .consultation-wrapper:after {
    display: none;
  }
  .faq {
    margin: 0 0 10px;
  }
  .faq h2 br {
    display: none;
  }
  .faq-accordion .accordion-item {
    margin: 0 0 10px;
  }
  .faq-number .h2 {
    font-size: 14px;
  }
  .faq-number span {
    padding: 0 6px;
  }
  .faq-accordion .accordion-button {
    padding-right: 50px;
  }
  .faq-accordion .accordion-button::after {
    top: 15px;
  }
  .faq-accordion .accordion-body {
    padding-bottom: 20px;
  }
  .map {
    height: 320px;
    overflow: hidden;
  }
  .map img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .list-social {
    margin: 0 auto 0 0;
  }
  .copyright {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 20px 0 0;
  }
  .list-information li p {
    margin: 0;
    min-width: 145px;
  }
}
@media only screen and (max-width: 420px) {
  h2, .h2 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 390px) {
  h1, .h1 {
    font-size: 60px;
  }
  h2, .h2 {
    font-size: 24px;
  }
  .btn {
    padding: 10px 25px;
  }
  .btn-phone-call {
    padding: 10px;
  }
  .nav-menu__footer {
    font-size: 14px;
    margin: 40px 0 0;
  }
  .home .btn-group {
    margin: 20px 0 0;
  }
  .phone {
    font-size: 18px;
  }
}