/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1740px) {
  .schedule {
    margin: 0 20px 0 auto;
  }
  .menu {
    gap: 16px;
  }
  .btn {
    padding: 10px 30px;
  }
  .btn-phone-call {
    padding: 10px;
  }
}
@media only screen and (max-width: 1570px) {
  .nav-menu {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 7;
    background: #004F9F;
    padding: 120px 24px 25px;
  }
  .nav-menu__footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav-menu .schedule {
    margin: 0 auto 0 0;
  }
  .nav-menu .btn-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav-menu .btn-group .btn {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 32px;
    font-size: 18px;
  }
  header {
    z-index: 10;
  }
  header .logo, header .btn-phone-call, header .btn-burger {
    z-index: 8;
  }
  .btn-phone-call {
    margin: 0;
    width: 59px;
    height: 59px;
    min-width: 59px;
  }
  .btn-callback-header {
    display: none;
  }
  .btn-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
  }
}
@media only screen and (max-width: 1200px) {
  h1, .h1 {
    font-size: 90px;
  }
  h2, .h2 {
    font-size: 38px;
  }
  .text-hightlights {
    font-size: 20px;
  }
  .news-ticker__track span {
    font-size: 18px;
  }
  .home .btn-group {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 40px 0 0;
  }
  .btn-md {
    height: 63px;
    font-size: 18px;
  }
  .riders {
    margin: 60px 0 24px;
  }
  .about-card__icon {
    margin: 0 0 20px;
    width: 120px;
    height: 120px;
  }
  .about-slider {
    padding: 0 0 82px;
  }
  .about-slider.row {
    margin: 0;
  }
  .about-slider.row > * {
    padding: 0;
  }
  .about-slider-arrow {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .about-slider-arrow.events-prev {
    right: 72px;
  }
  .about-image {
    margin: 20px 0 0;
  }
  .about-image__logo {
    bottom: 24px;
    left: 24px;
  }
}
@media only screen and (max-width: 992px) {
  .container {
    padding: 0 24px;
  }
  h1, .h1 {
    font-size: 70px;
    margin: 0 0 20px;
  }
  .mt-120 {
    margin-top: 60px;
  }
  .about-section1 {
    margin: 24px 0 0;
  }
  .about-section-wrapper {
    padding: 24px;
    min-height: 600px;
  }
  .about-section__img {
    margin: 24px 0 0;
    height: auto;
  }
  .about-section__content {
    padding: 24px;
  }
  .text-hightlights {
    font-size: 18px;
  }
  .box-text {
    font-size: 16px;
  }
  .home {
    padding: 260px 0 54px;
  }
  .about-card {
    padding: 24px;
  }
}