/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1740px)
    .schedule
        margin: 0 20px 0 auto

    .menu
        gap: 16px

    .btn
        padding: 10px 30px

    .btn-phone-call
        padding: 10px

    .btn-scroll-top
        padding: 10px

@media only screen and (max-width: 1570px)
    .nav-menu
        display: none
        position: absolute
        width: 100%
        left: 0
        top: 0
        z-index: 7
        background: #004F9F
        padding: 120px 24px 25px
        &__footer
            width: 100%
            display: flex
            align-items: center
            justify-content: space-between
            justify-content: flex-start
        .schedule
            margin: 0 auto 0 0
        .btn-group
            display: flex
            margin: 20px 0 0
            justify-content: flex-start
            .btn
                flex: 1
        .phone
            margin: 0

    .menu
        flex-direction: column
        align-items: flex-start
        gap: 32px
        font-size: 18px

    header
        z-index: 10
        .logo, .btn-phone-call, .btn-burger
            z-index: 8

    .btn-phone-call
        margin: 0
        width: 59px
        height: 59px
        min-width: 59px

    .btn-callback-header
        display: none

    .btn-burger
        display: flex
        padding: 10px

@media only screen and (max-width: 1200px)
    h1, .h1
        font-size: 90px

    h2, .h2
        font-size: 38px
        margin: 0 0 20px

    .text-hightlights
        font-size: 20px

    .news-ticker__track span
        font-size: 18px

    .home .btn-group
        justify-content: flex-start
        margin: 40px 0 0

    .btn-md
        height: 63px
        font-size: 18px

    .riders
        margin: 60px 0 24px

    .about-card
        &__icon
            margin: 0 0 20px
            width: 120px
            height: 120px

    .about-slider
        padding: 0 0 82px
        &.row
            margin: 0
            >*
                padding: 0

    .about-slider-arrow
        position: absolute
        bottom: 0
        right: 0
        &.events-prev
            right: 72px

    .about-image
        margin: 20px 0 0
        &__logo
            bottom: 24px
            left: 24px

    .consultation-wrapper .h4
        margin: 0 0 20px

    .forbidden
        margin: 60px 0
        h2, .h2
            margin: 0 0 20px

    .event-card
        padding: 24px

    .list-social
        margin: 0 auto

    footer
        padding: 10px 0 24px

    .footer-row
        padding: 24px

@media only screen and (max-width: 992px)
    .container
        padding: 0 24px

    h1, .h1
        font-size: 70px
        margin: 0 0 20px

    h3, .h3
        font-size: 24px
        margin: 0 0 20px

    h4, .h4
        font-size: 20px

    .mb-50
        margin-bottom: 20px

    .mt-120
        margin-top: 60px

    .mb-120
        margin-bottom: 60px

    .about-section1
        margin: 24px 0 0

    .about-section-wrapper
        padding: 24px
        min-height: 600px

    .about-section__img
        margin: 24px 0 0
        height: auto

    .about-section__content
        padding: 24px

    .text-hightlights
        font-size: 18px

    .box-text
        font-size: 16px

    .home
        padding: 260px 0 54px

    .about-card
        padding: 24px

    .riders-card__body
        padding: 24px

    .list-information
        font-size: 16px
        p
            font-size: 18px
            margin: 0
            min-width: auto
            width: 50%
            padding: 0 10px 0 0
        span
            width: 50%

    .forbidden-card
        padding: 24px
        &__text
            margin: 20px 0 0

    .faq-accordion .accordion-body
        font-size: 16px

    .gallery-nav
        margin: 20px 0 0

    .event-card__date
        font-size: 16px

    .faq-number
        .h2
            font-size: 24px

    .map
        margin: 10px 0 0

    .prices
        padding: 24px 0 0

    .price-card
        margin: 0 0 24px
        padding: 24px
        h3
            margin: 0
        &.active
            .price-card__head
                &:after
                    transform: none
        &__body
            display: none
            padding: 40px 0 0
        &__head
            position: relative
            cursor: pointer
            padding-right: 20px
            &:after
                content: ''
                position: absolute
                right: 0
                top: 15px
                width: 20px
                height: 20px
                background: url("../img/faq-icon-toggle.svg") no-repeat center
                background-size: 100%
                transform: rotate(180deg)
                transition: .3s
        .price
            font-size: 18px

@media only screen and (max-width: 768px)
    .list-information
        margin: 40px 0 20px

    .riders-card
        margin: 24px 0 0

    .text
        font-size: 14px

    .riders-card__img-text
        padding: 24px

    .list-schedule-line
        margin: 0 0 10px

    .mb-40
        margin-bottom: 20px

    .mb-60
        margin-bottom: 40px

    header
        .logo
            margin: 0 auto 0 0
        .phone, .schedule
            display: none

    .nav-menu
        .phone, .schedule
            display: block

    .consultation
        margin: 24px 0 0

    .consultation-wrapper
        padding: 80px 24px

    .text-hightlights
        h2, .h2
            padding: 12px 10px
            background: #fff
            span
                padding: 0
                display: inline
                margin: 0
                background: transparent

    .certificate-wrapper
        padding: 16px 24px 24px
        .text-hightlights
            h2, .h2
                padding: 0
                background: transparent
                line-height: 130%
                span
                    background: #fff
                    padding: 12px 10px

    .news
        h2
            br
                display: none

    .contacts
        .text-hightlights
            h2, .h2
                padding: 0
                background: transparent
                line-height: 130%
                span
                    background: #fff
                    padding: 12px 10px

@media only screen and (max-width: 576px)
    .btn
        height: 59px
        padding: 10px 30px

    .btn-phone-call
        padding: 10px

    .riders-wrapper
        min-height: auto
        background: url('../img/rider-img-mobile.png') no-repeat center
        background-size: cover

    .logo
        max-width: 80px

    .consultation-wrapper::before, .consultation-wrapper:after
        display: none

    .faq
        margin: 0 0 10px
        h2
            br
                display: none

    .faq-accordion .accordion-item
        margin: 0 0 10px

    .faq-number
        .h2
            font-size: 14px

    .faq-number span
        padding: 0 6px

    .faq-accordion .accordion-button
        padding-right: 50px

    .faq-accordion .accordion-button::after
        top: 15px

    .faq-accordion .accordion-body
        padding-bottom: 20px

    .map
        height: 320px
        overflow: hidden
        img
            width: 100%
            height: 100%
            object-fit: cover

    .list-social
        margin: 0 auto 0 0

    .copyright
        width: 100%
        order: 1
        margin: 20px 0 0

    .list-information li p
        margin: 0
        min-width: 145px

@media only screen and (max-width: 480px)

@media only screen and (max-width: 420px)
    h2, .h2
        font-size: 30px

@media only screen and (max-width: 390px)
    h1, .h1
        font-size: 60px

    h2, .h2
        font-size: 24px

    .btn
        padding: 10px 25px

    .btn-phone-call
        padding: 10px

    .nav-menu__footer
        font-size: 14px
        margin: 40px 0 0

    .home .btn-group
        margin: 20px 0 0

    .phone
        font-size: 18px
